/src/assets/models/
/src/assets/videos/
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/webResources.xml
assets/models
assets/videos
docker/jetson-agx-jp6/build
src/.idea
# Ignora tutte le cartelle __pycache__ sotto src/fvgvisionai
src/fvgvisionai/**/__pycache__/
venv
docker/jetson-agx-jp6/.env
